GLUETUN_IP=
QBITTORRENT_IP=
QBITTORRENT_URL=
JELLYSEERR_URL=
FILES_URL=
SPEEDTEST_URL=
BAZARR_URL=
TELEGRAM_FILES_URL=
PROWLARR_URL=
JELLYFIN_URL=
RADARR_URL=
SONARR_URL=
TG_SAVED_MESSAGE=
JELLYFIN_KEY=
RADARR_KEY=
SONARR_KEY=
PROWLARR_KEY=
TAILSCALE_API_KEY=
SPEEDTEST_TRACKER_API_TOKEN=
PI_PW=
PI_UN=
PROWLARR_COLLAPSE_AFTER=
