TAILSCALE_API_KEY=
QBITTORRENT_IP=
QBITTORRENT_URL=
PROWLARR_API_URL=
PROWLARR_KEY=
PROWLARR_URL=
PROWLARR_COLLAPSE_AFTER=
JELLYFIN_URL=
JELLYFIN_KEY=
RADARR_KEY=
RADARR_URL=
RADARR_API_URL=
TELEGRAM_FILES_URL=
SONARR_URL=
SONARR_KEY=
SONARR_API_URL=
TG_SAVED_MESSAGE=
BAZARR_URL=
SPEEDTEST_URL=
SPEEDTEST_TRACKER_API_TOKEN=
GLUETUN_API_KEY=
GLUETUN_URL=
JELLYSEERR_URL=
FILES_URL=
PI_PW=
PI_UN=
